@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h2>Thông tin Sinh viên</h2>
<ul>
    <li><strong>Họ tên:</strong> @ViewBag.Name</li>
    <li><strong>MSSV:</strong> @ViewBag.MSSV</li>
    <li><strong>Email:</strong> @ViewBag.Email</li>
</ul>