@{
    ViewData["Title"] = "Thông Tin Sinh Viên";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>Mã Sinh Viên: 2310900117</p>
    <p>Họ Tên: Nguyễn Xuân Vinh</p>
    <p>Email: realsteelworld2k5@gmail.com</p>
    <p>Điện Thoại: 0357335092</p>
    <p>Lớp: K23CNT1</p>
</div>

