@model NxvLesson07.Models.NxvEmployee

@{
    ViewData["Title"] = "Sửa Thông Tin Nhân Viên";
}

<h1>Sửa Thông Tin Nhân Viên</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NxvEdit" asp-route-id="@Model.NxvId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NxvId" class="control-label"></label>
                <input asp-for="NxvId" class="form-control" />
                <span asp-validation-for="NxvId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NxvName" class="control-label"></label>
                <input asp-for="NxvName" class="form-control" />
                <span asp-validation-for="NxvName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NxvBirthDay" class="control-label"></label>
                <input asp-for="NxvBirthDay" class="form-control" />
                <span asp-validation-for="NxvBirthDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NxvEmail" class="control-label"></label>
                <input asp-for="NxvEmail" class="form-control" />
                <span asp-validation-for="NxvEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NxvPhone" class="control-label"></label>
                <input asp-for="NxvPhone" class="form-control" />
                <span asp-validation-for="NxvPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NxvSalary" class="control-label"></label>
                <input asp-for="NxvSalary" class="form-control" />
                <span asp-validation-for="NxvSalary" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NxvStatus" /> @Html.DisplayNameFor(model => model.NxvStatus)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="NxvIndex">Back to List</a>
</div>

