﻿@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<div class=" alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>Mã sinh viên: 2310900117</p>
    <p>Họ và tên: Xuân Vinh</p>
    <p>Email: realsteel@gmail.com</p>
    <p>Điện thoại: <a href="tel:0357335092" title="0357335092">0357.335.092</a>    </p>
    <p>Lớp: K23CNT1</p>
</div>